<?xml version="1.0"?>
<configuration>
  <!--<connectionStrings>
    <add connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=\DataDirectory\Review.mdf; Integrated Security=True;UserInstance=True" name="dbReview" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->

  <connectionStrings>
    <add connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\inetpub\wwwroot\aspnet_client\SoapService\App_Data\Review.mdf;Integrated Security=SSPI;User Instance=True" name="dbReview" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <!--<connectionStrings>
    <add connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\your_sso\SoapWebService\App_Data\Database1.mdf;Integrated Security=SSPI;User Instance=True" name="dbString" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
   <httpProtocol>
     <customHeaders>
       <add name="Access-Control-Allow-Origin" value="*" />
       <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type,soapaction, Accept" />
     </customHeaders>
   </httpProtocol>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
